body {
    background-color: darkcyan;
}

h1{
    font-size: 82px;
}

@media screen and (max-width: 750px)
{
    body{
        background-color: blueviolet;
    }

    h1{
        font-size: 42px;
    }
}